/* Popup container */
.create-group-popup {
  width: 450px !important;
  border-radius: 12px !important;
}
.create-group-popup  .swal2-title {
  background: var(--secondary);
  padding: 10px;
  color: #333;
  font-weight: 500;
  font-size: 30px !important;
}
/* Nội dung chính */
.create-group-container {
  text-align: left;
}
.create-group-select {
  margin: 0;
  padding: 0;
}
/* Input */
.create-group-input {
  width: 100%;
  border-radius: 6px;
  font-size: 14px;
  margin: 0 0 16px 0;
}

/* Textarea */
.create-group-textarea {
  width: 100%;
  height: 80px;
  border-radius: 6px;
  font-size: 14px;
  margin: 0;
}
