/* Popup container */
.join-group-popup .swal2-title {
  background: var(--secondary);
  padding: 10px;
  color: #333;
  font-weight: 500;
  font-size: 30px !important;
}
.join-group-popup {
     max-width: 450px !important;
    border-radius: 12px !important;
  }
  
  /* Nội dung chính */
  .join-group-container {
    text-align: left;
  }
  
  /* Label tiêu đề */
  .join-group-label {
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    text-align: center;
  }
  
  /* Nhóm radio */
  .join-group-radio-group {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    justify-content: center;
    font-size: 15px;
  }
  
  /* Từng radio */
  .join-group-radio {
    display: flex;
    gap: 6px;
    align-items: center;
  }
  
  /* Input */
  .join-group-input {
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    margin: 0 0 16px 0;
    
  }
  
  /* Textarea */
  .join-group-textarea {
    width: 100%;
    height: 80px;
    border-radius: 6px;
    font-size: 14px;
    margin: 0;
  }
  