@import "tailwindcss";

:root {
  --primary: #ada2f2;
  --secondary: #f2b6e2;
}

* {
  box-sizing: border-box;
}

.host-bg {
  background-color: var(--primary);
}

.sub-bg {
  background-color: var(--secondary);
}


